<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Cart</title>
</head>
<body>
<h1>Cart</h1>
<table>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Amount</th>
        <th>Cost</th>
        <th>Action</th>
    <tr th:each="cart : ${carts}">
        <td th:text="${cart.id}"></td>
        <td th:text="${cart.name}"></td>
        <td>
            <form action="/carts/updateAmount" method="post">
                <input type="hidden" name="id" th:value="${cart.id}">
                <button type="submit" name="action" value="decrease">-</button>
                <span th:text="${cart.amount}"></span>
                <button type="submit" name="action" value="increase">+</button>
            </form>
        </td>
    <td th:text="${cart.sumCost}" data-cost="${cart.cost}"></td>
    <td>
        <a th:href="@{/carts/deleteFromCart/{id}(id=${cart.id})}" class="btn btn-danger">Delete</a>
    </td>

    </tr>
</table>
<a th:href="@{/carts/deleteAll}" class="btn btn-primary">Order</a>
</body>
</html>
