<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Book List</title>
</head>
<body>
<h1>Book List</h1>
<table>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Amount</th>
        <th>Cost</th>
    <tr th:each="cart : ${carts}">
        <td th:text="${cart.id}"></td>
        <td th:text="${cart.name}"></td>
        <td>
            <button onclick="decreaseAmount(this)">-</button>
            <span th:text="${cart.amount}"></span>
            <button onclick="increaseAmount(this)">+</button>
        </td>
    <td th:text="${cart.sumCost}" data-cost="${cart.cost}"></td>
    </tr>

</table>



<script>
    function decreaseAmount(button) {
        var amountElement = button.nextSibling.nextSibling; // Chọn phần tử span chứa giá trị "Amount"
        var currentAmount = parseInt(amountElement.textContent);
        if (currentAmount > 1) {
            currentAmount--;
            amountElement.textContent = currentAmount;
            updateSumCost(button.parentNode.parentNode, currentAmount + 1); // Cập nhật sumCost
        }
    }

    function increaseAmount(button) {
        var amountElement = button.previousSibling.previousSibling; // Chọn phần tử span chứa giá trị "Amount"
        var currentAmount = parseInt(amountElement.textContent);
        currentAmount++;
        amountElement.textContent = currentAmount;
        updateSumCost(button.parentNode.parentNode, currentAmount - 1); // Cập nhật sumCost
    }

    function updateSumCost(row, currentAmount) {
        var amountElement = row.querySelector("span"); // Lấy giá trị "Amount" mới
        var sumCostElement = row.querySelector("td:last-child"); // Lấy phần tử thể hiện "sumCost"

        var cost = parseFloat(sumCostElement.textContent);
        var amount = parseInt(amountElement.textContent);
        var sumCost = cost/currentAmount * amount;
        sumCostElement.textContent = sumCost;
    }
</script>


</body>
</html>
